@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bgpic.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-color: aliceblue; */
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 10px;  
  background-color: #2d3748;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius:10px ;
}
::-webkit-scrollbar-track {
  background-color: #2d3748;
  cursor: pointer;
 
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

